{% apply inline_css(source("style.css")) %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Crypto Tracker{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div>
            {% block header %}{% endblock %}
        </div>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
{% endapply %}