{% extends "base.html.twig" %}
{% block title %}Supprimer un montant{% endblock %}
{% block header %}
<div class="transactionHead">
    <svg onclick="location.href='../dashboard'" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
    <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
    </svg>
    <h1>Supprimer un montant</h1>
</div>{% endblock %}
{% block body %}
<div class="transactionContainer">
    <div class="transactionForm">
    <!--<input type="text" name="crypto" placeholder="BTC (Bitcoin)" />-->
    
    <select name="crypto" >
    <option value=''> Sélectionner une crypto</option>
    <option value=''> Sélectionner une crypto</option>
    <option value=''> Sélectionner une crypto</option>
    <option value=''> Sélectionner une crypto</option>
    </select>

    <input type="text" name="quantity" placeholder="0.001"/>
    <button type="submit">Valider</button>
    </div>
</div>
{% endblock %}